<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Admin Panel</title>
    </head>
    <body>
        <h1>Welcome to Admin Panel, <span sec:authentication="name">Admin</span>!</h1>
        <p>This page is only accessible to ADMIN users.</p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>